.notesPanel {
  flex: 1;
  background: #dae5f5;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  height: 100vh;
  min-width: 0;
}
.emptyContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.emptyContent h2 {
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: 600;
}

.emptyContent p {
  color: #555;
  line-height: 1.4;
}
.emptyContent img {
  width: 426px;
  background: transparent;
  margin-bottom: 20px;
}

.topBar {
  height: 70px;
  background: #001f8b;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

.groupCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #16008b; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}

.messagesArea {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  min-width: 0;
}

.textArea {
  padding: 20px;
  flex-shrink: 0;
  background: #001f8b;
}

.textAreaWrapper {
  background: white;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  width: 100%;
}

.textAreaWrapper textarea {
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 15px;
  resize: none;
  width: 100%;
}
.sendIcon {
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
}
.backArrow {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}
